*{
    margin: 0px;
    padding: 0px;
   
    
}

.JOJO{
    margin-top:30px;
    
    }

.tabb{
    background-image: url("./circle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}