*{
    margin: 0px;
    padding: 0px;
   
    
}

.JOJO{
    margin-top:30px;
    
    }

.tabb{
    background-image: url("./circle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 23px !important ;
    font-family: Jura, Cochin, Georgia, Times, 'Times New Roman', sans-serif !important ;
    text-shadow: 1px 1px 16px purple;
}

.tabb :hover {
 color: #EF495D;
}